.book-info-page {
  white-space: pre-wrap;
  font-size: 18px;
  padding-top: 15px;
  // letter-spacing: 0.2em;
  // line-height: 40px;
  // /* width: 85%; */
  // margin: auto;
}

.play-btn {
  position: fixed;
  left: 0;
  top: 0;
}